# Web API handling
requests

# Orchestration
prefect>=2.14.0
prefect-dbt[cli]>=0.4.0
prefect-gcp>=0.6.17
prefect-cloud

# dbt
dbt-core>=1.7.0
dbt-bigquery>=1.7.0

# GCP
google-cloud-bigquery>=3.13.0
google-cloud-secret-manager>=2.16.0
google-cloud-storage>=2.0.0

# Data handling
pandas>=2.1.0
pyarrow>=14.0.0 

# Environment & config
python-dotenv>=1.0.0

# Testing
pytest>=7.4.0
pytest-mock>=3.12.0